<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/linksHead'); -%>
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="card mb-3 mt-5" style="max-width: 540px;">
            <%detalle.forEach(element => {%>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
            <form action="/compra" method="post"> 
              <div class="col-md-8">
                <input type="text" value="<%= element.idproducto%>" style="display: none;" name="id" id="">
                <div class="card-body">
                  <h5 class="card-title">Nombre: <%=element.nombre%></h5>
                  <p class="card-text">Precio: $<%=element.precio_venta%>.00</p>
                  <p class="card-text">Contenido: <%=element.cantidad%> <%=element.medida%></p>
                    <h3>Total a pagar <%= cantidad%></h3>
                    <button type="submit" class="btn btn-primary" value="login">Pagar</button>
                </div>
              </div>
            </form>
            </div>
            <%})%>
          </div>
          <%if (typeof alert != "undefined"){%>
            <script>
                Swal.fire({
                    title:'<%= alertTitle%>',
                    text:'<%= alertMessage%>',
                    icon:'<%= alertIcon%>',
                    showConfirmButton: '<%= showConfirmButton %>',
                    timer: '<%= timer %>'
                }).then(()=>{
                    window.location='/<%= ruta%>'
                })
            </script>
            <%}%>
    </div>
    <%- include('templates/footer'); -%>
    <%- include('templates/linksFooter'); -%>
</body>

</html>