<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/linksHead'); -%>
    <title>Home</title>
</head>
<body>        
        <% if(login) {%>
          <%- include('templates/header'); -%>
          <div class="container">
            <!-- <a href="logout" class="btn btn-primary">cerrar sesion</a> -->
            <h1 class ="mb-5">El usuario conectado es: <strong><%= name %></strong></h1>
            <main>
              
                <!-- Marketing messaging and featurettes
                ================================================== -->
                <!-- Wrap the rest of the page in another container to center all the content. -->
              
                <div class="container marketing">
                  <!-- Three columns of text below the carousel -->
                  <div class="row text-center">
                    <%prod.forEach(element => {%>
                    <div class="col-lg-4 mb-3">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= element.nombre%></h5>
                          <p class="card-text">$<%=element.precio_venta%>.00</p>
                          <a href="detalles/<%=element.idproducto%>" class=" btn btn-primary mt-2">Ver detalles</a>
                          <!-- <a href="/carrito/<%= element.idproducto%>" class=" btn btn-success mt-2">Añadir al carrito </a> -->
                          <a href="/compra/<%= element.idproducto%>" class=" btn btn-success mt-2">Comprar</a>
                        </div>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <%})%>
                  </div><!-- /.row -->
                   
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      
                    </div>
                  </div>
                
              
                 
              
                </div><!-- /.container -->
              </div>
</main>              
                
           <%}else{%>
        <div class="container">
          <h1><strong><%= name %></strong></h1>
          <a href="login" class="btn btn-primary">Iniciar sesion</a>
        </div>
        
        <%}%>
          
        
      

   
    <%- include('templates/footer'); -%>
    <%- include('templates/linksFooter'); -%>
</body>
</html>