<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('templates/linksHead'); -%>
    <title>registrer</title>
</head>
<body>
    <!-- ------------------------------------------------------------------------------------------------- -->
    <div class="container">
        <table class="table table-bordered table-striped text-center mt-4">
          <thead>
            <tr class="bg-primary text-white">
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio total</th>
              
            </tr>
          </thead>
          <tbody>
            <% venta.forEach((element)=>{ %>
            <tr>
              <td><%= element.nombre%></td>
              <td><%= element.cantidad %></td>
              <td><%= element.precio_total %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

    <%- include('templates/footer'); -%>
    <%- include('templates/linksFooter'); -%>
</body>
</html>